@import '../../styles/variables';

.top{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    height: 80px;
    color: $white-color;
    .octicon{
        fill: #7d8590;
    }
}